CMakeCache.txt
Makefile
SDL2ConfigVersion.cmake
cmake_install.cmake
CMakeFiles
bin
bin-int
*.a
*.dll
*.exe
!premake5.exe
*.lib
*.so
imgui.ini
.ccls-cache
compile_commands.json
*.sln
*cbp
*.layout
*.vcxproj
*.filters
*.user
*.vs